body {
	background:url('wallpaper.jpg');
}

.message {
	display:none;
	border:solid 1px black;
	padding:.2em;
	margin:.5em;
}

div#error {
	background-color:#aa0000;
}

div#menubar {
	position:fixed;
	top:0px;
	border:solid 2px gray;
	width:100%;
	height:50px;
	vertical-align:middle;
}
.menu {
	display:none;
}
.ui-menu { /* jQuery UI menu element? */
	width:200px;
}

div#desktop {
	margin-top:75px;
}
